<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
    <link rel="manifest" href="/images/ico/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/images.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>EduSync | IMAGES</title>
</head>
<body>
    <main>
        <nav>
            <div class="nl">
                <img src="/images/images/LOGO.png" alt="">
            </div>
            <div class="nr">
                <div class="nr-l">
                    <a href="/">Home</a>
                    <div id="login">
                        <a href="#" id="log_button">Login</a>
                        <div id="login_items">
                            <a href="/studentlogin">Student Login</a>
                            <a href="/teacherlogin">Teacher Login</a>
                            <a href="/headlogin">Head Login</a>
                        </div>
                    </div>
                    
                    <a href="/images">Images</a>
                </div>
                <div class="nr-r">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>  
        <div id="images-shery">
            <div class="carousel" data-flickity='{ "autoPlay": true }'>
                <div class="carousel-cell"><img src="/images/images/room 2.0.png" alt=""></div>
                <div class="carousel-cell"><img src="/images/images/chess board.png" alt=""></div>
                <div class="carousel-cell"><img src="/images/images/CRICKET STADIUM 1.png" alt=""></div>
                <div class="carousel-cell"><img src="/images/images/room3.0.2.png" alt=""></div>
                <div class="carousel-cell"><img src="/images/images/glass.png" alt=""></div>
            </div>
        </div>
        <div id="images-shery-pg2">
            <div id="light">
                <img src="/images/images/lighting.png" alt="">
            </div>   
            <div id="images-pg2">
                <img src="/images/images/3.png" alt="" id="">
                <img src="/images/images/p1.jpg" alt="">
                <img src="/images/images/p2.jpg" alt="">
                <img src="/images/images/p3.jpg" alt="">
                <img src="/images/images/p4.jpg" alt="">
                <img src="/images/images/p5.jpg" alt="">
                <img src="/images/images/p6.jpg" alt="">
            </div>
        </div>
        <div id="images-shery-pg3">
            <div id="slider">
                <span style="--i:1;"><img src="/images/images/p1.jpg" alt=""></span>
                <span style="--i:2;"><img src="/images/images/p2.jpg" alt=""></span>
                <span style="--i:3;"><img src="/images/images/p3.jpg" alt=""></span>
                <span style="--i:4;"><img src="/images/images/p4.jpg" alt=""></span>
                <span style="--i:5;"><img src="/images/images/p5.jpg" alt=""></span>
                <span style="--i:6;"><img src="/images/images/p6.jpg" alt=""></span>
            </div>
        </div>
        <div id="pg-img-blur"></div>
        <div id="footer">
            <div id="footer-container">
                <div class="fl">
                    <h2>CONTACT US</h2>
                    <div class="contact">
                        <h4>9780914581 (Head)</h4>
                        <h4>sandeepsinghsohian@gmail.com</h4>
                    </div>
                </div>
                <div class="fc">
                    <div class="quick-links">
                        <h2>Quick Links</h2>
                        <div class="contact">
                            <a href="/">Home</a>
                            <div id="login">
                                <a href="#" id="log_button">Login</a>
                                 <div id="login_items">
                                    <a href="/studentlogin">Student Login</a>
                                    <a href="/teacherlogin">Teacher Login</a>
                                    <a href="/headlogin">Head Login</a>
                                </div>
                            </div>
                    
                            <a href="/images">Images</a>
                            </div>
                    </div>
                </div>
                <div class="fr">
                    <h2>Location</h2>
                    <div class="contact">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.6914284465247!2d74.90983231549603!3d31.690628893253695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919638655ecf77d%3A0x482bc38508456636!2sGovernment%20Elementary%20Smart%20School!5e1!3m2!1sen!2sin!4v1711472732719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div id="horizontal-ruler"></div>
        <div id="copywright">
            <h3>@2026 Team Rawjet. All Rights Reserved.</h3>
        </div>

    </main>


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script src="/javascripts/script.js"></script>
</body>