<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-32x32.png">
    <link rel="manifest" href="/images/ico/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>GPS PANDORI WARAICH | HOME</title>
</head>
<body>
    <main>
        <nav>
            <div class="nl">
                <img src="/images/images/LOGO.webp" alt="">
            </div>
            <div class="nr">
                <div class="nr-l">
                    <a href="/">Home</a>
                    <div id="login">
                        <a href="#" id="log_button">Login</a>
                        <div id="login_items">
                            <a href="/studentlogin">Student Login</a>
                            <a href="/teacherlogin">Teacher Login</a>
                            <a href="/headlogin">Head Login</a>
                        </div>
                    </div>
                    
                    <a href="/images">Images</a>
                </div>
                <div class="nr-r">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>  
        <div id="index-page">
            <div id="title">
                <div class="title-elem"><h3>P</h3></div>
                <div class="title-elem"><h3>A</h3></div>
                <div class="title-elem"><h3>N</h3></div>
                <div class="title-elem"><h3>D</h3></div>
                <div class="title-elem"><h3>O</h3></div>
                <div class="title-elem"><h3>R</h3></div>
                <div class="title-elem"><h3>I</h3></div>
            </div>
            <div id="title-2"><h4>GPS PANDORI WARAICH </h4></div>
            <video src="/videos/index_video.mp4" autoplay loop></video>
        </div>
        <div id="page2">
            <div id="labs">
                <h1>ABOUT SCHOOL</h1>
                <p>GPS PANDORI WARAICH, BLOACK-AMRITSAR 2 <br> managed by <span>CHT SOHAN SINGH</span><br>
                is on it's way to achieve dream of educating students of Punjab</p>
            </div>
            <div id="rabs">
                <img src="/images/images/school_front.jpg" alt="">
            </div>
        </div>
        <div id="horizontal-ruler"></div>
        <div id="page3">
            <div id="lh">
                <img src="/images/images/l-2-s.png" alt="" id="layer" >
                <img src="/images/images/bg.png" alt="" id="layer2">
            </div>
            <div id="rh">
                <h1>SCHOOL HEAD</h1>
                <p>The modern world is a Competitive world and require the products which are compatible 
                    with its diversity and excellence. Keeping these in mind, the  School plans its pedagogy.
                     Besides the usual syllabi effective planning is done to chisel the students in their best potential not 
                     only in academic but also in other activities. Every effort is made by my dedicated staff to make the end 
                     product a blend of educational physical and cultural expert, Keeping in mind the mid path of Modernity and
                      tradition. I pray to the mighty to give the best to our institution, so that the student coming out of our
                       institution are filled with Uniqueness. </p>
            </div>
        </div>
        <div id="page3-blur">
        </div>
        <div id="page4">
            <h1>GALLERY</h1>
            <div id="moving-div">
                <div class="blur-left"></div>
                <div class="move">
                    <img src="/images/images/p1.jpg" alt="">
                    <img src="/images/images/p2.jpg" alt="">
                    <img src="/images/images/p3.jpg" alt="">
                    <img src="/images/images/p4.jpg" alt="">
                    <img src="/images/images/p5.jpg" alt="">
                    <img src="/images/images/p6.jpg" alt="">    
                </div>
                <div class="move">
                    <img src="/images/images/p1.jpg" alt="">
                    <img src="/images/images/p2.jpg" alt="">
                    <img src="/images/images/p3.jpg" alt="">
                    <img src="/images/images/p4.jpg" alt="">
                    <img src="/images/images/p5.jpg" alt="">
                    <img src="/images/images/p6.jpg" alt="">
                </div>
                <div class="blur-right"></div>
            </div>
            
        </div>
        <div id="page4-blur">
        </div>
        <div id="page4a">
            <div id="videos">
                
                <video loop muted controls src="/images/videos/V1.mp4"></video>
                <video loop muted controls src="/images/videos/V2.mp4"></video>
            </div>
        </div>
        <div id="horizontal-ruler"></div>
        <div id="footer">
            <div id="footer-container">
                <div class="fl">
                    <h2>CONTACT US</h2>
                    <div class="contact">
                        <h4>9780914581 (Head)</h4>
                        <h4>sandeepsinghsohian@gmail.com</h4>
                    </div>
                </div>
                <div class="fc">
                    <div class="quick-links">
                        <h2>Quick Links</h2>
                        <div class="contact">
                            <a href="/">Home</a>
                            <a href="/images">Images</a>
                            </div>
                    </div>
                </div>
                <div class="fr">
                    <h2>Location</h2>
                    <div class="contact">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.6914284465247!2d74.90983231549603!3d31.690628893253695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919638655ecf77d%3A0x482bc38508456636!2sGovernment%20Elementary%20Smart%20School!5e1!3m2!1sen!2sin!4v1711472732719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div id="horizontal-ruler"></div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>