    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-32x32.png">
        <link rel="manifest" href="/images/ico/site.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/loginStyle.css">
        <title>EduSync| Student Login</title>
    </head>
    <body>
        <main>
            <nav>
                <div class="nl">
                    <img src="/images/images/LOGO.png" alt="">
                </div>
                <div class="nr">
                    <div class="nr-l">
                        <a href="/">Home</a>
                        <div id="login">
                            <a href="#" id="log_button">Login</a>
                            <div id="login_items">
                                <a href="/studentLogin">Student Login</a>
                                <a href="/teacherLogin">Teacher Login</a>
                                <a href="/headLogin">Head Login</a>
                            </div>
                        </div>
                        
                        <a href="/images">Images</a>
                    </div>
                    <div class="nr-r">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>  
            <div id="page1">
                <div id="pg1-container">
                    <h1>Student Login</h1>
                <div id="contact-pg4">
                    <div class="contact-container">
                        <form action="/studentLogin" method="post" class="contact-left">
                            <div class="contact-left-title">
                            </div>
                            <input type="hidden" name="access_key" value="dd60566d-3f46-4912-b6f3-2b7e6d1ba018">
                            <input type="number" name="id" placeholder="id" class="contact-inputs" required >
                            <input type="password" name="password" placeholder="password" class="contact-inputs" required >
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <div id="footer">
                <div id="footer-container">
                    <div class="fl">
                        <h2>CONTACT US</h2>
                        <div class="contact">
                            <h4>9780914581 (Head)</h4>
                            <h4>sandeepsinghsohian@gmail.com</h4>
                        </div>
                    </div>
                    <div class="fc">
                        <div class="quick-links">
                            <h2>Quick Links</h2>
                            <div class="contact">
                                <a href="/">Home</a>
                                <a href="/images">Images</a>
                                </div>
                        </div>
                    </div>
                    <div class="fr">
                        <h2>Location</h2>
                        <div class="contact">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.6914284465247!2d74.90983231549603!3d31.690628893253695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919638655ecf77d%3A0x482bc38508456636!2sGovernment%20Elementary%20Smart%20School!5e1!3m2!1sen!2sin!4v1711472732719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div id="horizontal-ruler"></div>
            <div id="copywright">
                <h3>@2026 Team Rawjet. All Rights Reserved.</h3>
            </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
    </body>
    </html>