<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-32x32.png">
    <link rel="manifest" href="/images/ico/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">
    <title>EduSync | Student Login</title>
</head>

<body>

<div id="login-page">

    <div class="overlay"></div>

    <div class="login-container">

        <div class="login-header">

            <img src="/images/images/logo.png" alt="">

            <h1>EduSync</h1>

            <p>
                Student Portal Access
            </p>

        </div>

        <form action="/studentLogin" method="POST">

            <div class="input-group">

                <i class="ri-graduation-cap-line"></i>

                <input
                type="number"
                name="id"
                placeholder="Student ID"
                required>

            </div>

            <div class="input-group">

                <i class="ri-lock-line"></i>

                <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            </div>

            <button type="submit">

                Access Portal

            </button>

            <a href="/" class="back-btn">

                <i class="ri-arrow-left-line"></i>

                Back

            </a>

        </form>

    </div>

</div>

</body>
</html>
