    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .exo-2-sirat{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight:900;
        font-style: normal;
    }
    .fjalla-one-regular {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }  
    html,body{
        height: 100%;
        width: 100%;
        background-color: #FFF5E1;
        overflow-x: hidden;
    }
    main{
        width: 100vw;
        height: auto;
    }

    #page1{
        height: auto;
        width:100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF5E1;
    }

    #pg1-container{
        height: auto;
        width:80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10vh 0 0 0;
    }
    #panel-container{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }
    #panel{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #D2B48C;
        border-radius: 50px;
        border: solid #4E3629 2px;
        overflow-x: scroll;
        gap: 0.5vw;
        padding: 0 2%;
    }
    .panel_elem{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .panel_elem a{
        font-family:'fjalla-one-regular';
        font-size: large;
        font-weight: 600;
        color: #4E3629;
        transition: .5s all ease;
        text-decoration: underline;
    }
    .panel_elem a:hover{
        color:white;
        text-decoration: overline;
    }
    #panel-menu{
        display: none;
    }

    #data{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        margin: 2%;
        border: solid 2px #4E3629;
        border-radius: 25px;
        position: relative;
    }

    .part{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        background-color: #D2B48C;
        border: solid 2px #4E3629;
        border-radius: 25px;
        padding: 2%;
    }

    .part h2 {
        font-size: 4vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
    }
    .part a {
        font-size: 4vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  2px;
    }
    
    form{
        height: 100%;
        width: 50%;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        padding: 1%;

    }
    #label{
        height:auto;
        width: 100%;
        border: #4E3629 solid 2px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content:center;
        padding: 2%;
        gap: 1vh;
        background-color: #FFF5E1;

    }
    form button{
        align-self: center;
        width: 100%;
        height: auto;
        border-radius: 20px;
        color:#111 ;
        background-color:#FFF5E1;
        border: #4E3629 2px solid;
        font-weight: 900;
        font-size: large;
    }
    #label label{
        font-size: medium;
        font-family: "Exo 2", sans-serif;
        color: #111;
    }
    #label input{
        background-color: #D2B48C;
        height: auto;
        width: 100%;
        border-radius: 20px;
        border: solid #111 1px;
        padding: 1%;
    }
    #teacherBox{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        background-color: #D2B48C;
        border-radius: 25px;
        padding: 2%;
    }
    #teacherPanel{
        height: 5vh;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFF5E1;
        border-radius: 50px;
        border: solid #4E3629 2px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 2vh;
    }
    #teacherPanel h2{
        text-decoration: underline;
        cursor: pointer;
        transition: .5s all ease;
    }
    #teacherPanel h2:hover{
        text-decoration: overline;
    }
    #teacherShow{
        display: none;
    }
    #teacherAdd{
        display: none;
    }
    .info{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 2vh;
    }
    .info h1{
        font-size: 6vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
        width: 100%;
        text-align: center;
    }
    .info h2{
        font-size: 2vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
    }
    .info h3{
        font-size: 2vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
    }
    .infoElem{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2vw;
        border: solid #4E3629 2px;
        border-radius: 20px;
        padding:1%;
    }
    #image{
        height: 20vh;
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5%;
        border: solid #4E3629 2px;
        border-radius: 20px;
    }
    #image img{
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    #imageElem{
        justify-content: center;
        border: 0px;
    }
    #leaveInfoPanel{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #leaveInfoPanel .infoElem{
        border: none;
    }
    #leaveInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        border: 2px solid #4E3629;
        border-radius: 25px;
    }
    #leaveInfo .infoElem{
        border: none;
    }
    #leaveInfo button{
        height: 100%;
        width: 8vw;
        padding: 2px;
        background-color: red;
        border-radius: 25px;
        border: solid white 2px;
        color: #D2B48C;
        cursor: pointer;
    }
    #studentInput{
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #examBox{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        background-color: #D2B48C;
        border-radius: 25px;
        padding: 2%;
    }
    #examBox{
        display: none;
    }
    #examPanel{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    #examPanel h2{
        cursor: pointer;
    }
    #datesheet{
        display: none;
    }
    #adminBlock{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .admin{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #adminPanel{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        height: auto;
    }
    #adminPanel h2{
        cursor: pointer;
    }
    .show{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .add{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #adminInfoPanel{
        height: 100%;
        width: 100%;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #4E3629;
    }
    #adminInfoPanel h2{
        border: none;
    }
    #adminInfo{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .admin{
        display: none;
    }
    #subjectData{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .part{
        display: none;
    }
    #personalInformation{
        display:flex;
    }
    @media only screen and (max-width: 800px)
    {
        
        #panel a{
            font-size: medium;
        }
    }