    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .exo-2-sirat{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight:900;
        font-style: normal;
    }
    .fjalla-one-regular {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }  
    html,body{
        height: 100%;
        width: 100%;
        background-color: #FFF5E1;
        overflow-x: hidden;
    }
    main{
        width: 100vw;
        height: auto;
    }

    #page1{
        height: auto;
        width:100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF5E1;
    }

    #pg1-container{
        height: auto;
        width:90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10vh 0 0 0;
    }
    #panel-container{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;  
    }
    #panel{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #D2B48C;
        border-radius: 12px;
        border: solid #4E3629 2px;
        overflow-x: scroll;
        gap: 0;
        padding: 0 2%;
    }
    .panel_elem{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .panel_elem a{
        font-family:Arial, Helvetica, sans-serif;
        font-size:2vh;
        font-weight:700;
        color: #4E3629;
        transition: .5s all ease;
        text-decoration: underline;
    }
    .panel_elem a:hover{
        color:white;
        text-decoration: overline;
    }
    #panel-menu{
        display: none;
    }

    #data{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        margin: 2%;
        border: solid 2px #4E3629;
        border-radius: 25px;
        position: relative;
    }

    .part{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        background-color: #D2B48C;
        border: solid 2px #4E3629;
        border-radius: 25px;
        padding: 2%;
    }

    .part h2 {
        font-size: 4vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
    }
    .part a {
        font-size: 4vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  2px;
    }
    
    form{
        height: 100%;
        width: 50%;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        padding: 1%;

    }
    #label{
        height:auto;
        width: 100%;
        border: #4E3629 solid 2px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content:center;
        padding: 2%;
        gap: 1vh;
        background-color: #FFF5E1;

    }
    form button{
        align-self: center;
        width: 100%;
        height: auto;
        border-radius: 20px;
        color:#111 ;
        background-color:#FFF5E1;
        border: #4E3629 2px solid;
        font-weight: 900;
        font-size: large;
    }
    #label label{
        font-size: medium;
        font-family: "Exo 2", sans-serif;
        color: #111;
    }
    #label input{
        background-color: #D2B48C;
        height: auto;
        width: 100%;
        border-radius: 20px;
        border: solid #111 1px;
        padding: 1%;
    }
    #teacherBox{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        background-color: #D2B48C;
        border-radius: 25px;
        padding: 2%;
    }
    #teacherInformation1{
        display: flex;
    }
    #teacherPanel{
        height: 5vh;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFF5E1;
        border-radius: 50px;
        border: solid #4E3629 2px;
        flex-wrap: nowrap;
        gap: 2vh;
    }
    #teacherPanel h2{
        text-decoration: underline;
        cursor: pointer;
        transition: .5s all ease;
    }
    #teacherPanel h2:hover{
        text-decoration: overline;
    }
    #teacherShow{
        display: none;
    }
    #teacherAdd{
        display: none;
    }
    #teacherRemove{
        display: none;
    }
    #teacherInfo{
        display: none;
    }
    .info{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 2vh;
    }
    .info h1{
        font-size: 6vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
        width: 100%;
        text-align: center;
    }
    .info h2{
        font-size: 2vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
    }
    .info h3{
        font-size: 2vh;
        font-family:'fjalla-one-regular';
        color: #4E3629;
        -webkit-text-stroke: #111  1px;
    }
    .infoElem{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2vw;
        border: solid #4E3629 2px;
        border-radius: 20px;
        padding:1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #image{
        height: 30vh;
        width: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid #4E3629 2px;
        border-radius: 20px;
        overflow: hidden;
    }
    #image img{
        object-fit:cover;
        object-position: center;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
    #imageElem{
        justify-content: center;
        border: 0px;
    }
    #leaveInfoPanel{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #leaveInfoPanel .infoElem{
        border: none;
    }
    #leaveInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        border: 2px solid #4E3629;
        border-radius: 25px;
    }
    #leaveInfo .infoElem{
        border: none;
    }
    #leaveInfo button{
        height: 100%;
        width: 8vw;
        padding: 2px;
        background-color: red;
        border-radius: 25px;
        border: solid white 2px;
        color: #D2B48C;
        cursor: pointer;
    }
    #studentInput{
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #examBox{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        background-color: #D2B48C;
        border-radius: 25px;
        padding: 2%;
    }
    #examBox{
        display: none;
    }
    #examPanel{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    #examPanel h2{
        cursor: pointer;
    }
    #datesheet{
        display: none;
    }
    #adminBlock{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .admin{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #adminPanel{
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    #adminPanel h2{
        cursor: pointer;
    }
    .show{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .add{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #adminInfoPanel{
        height: 100%;
        width: 100%;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #4E3629;
    }
    #adminInfoPanel h2{
        border: none;
    }
    #adminInfo{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .admin{
        display: none;
    }
    #subjectData{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .part{
        display: none;
    }
    #personalInformation{
        display:flex;
    }
    @media only screen and (max-width: 800px)
    {
        .part h2{
            font-size: 2vh;
        }
        #panel a{
            font-size: medium;
        }
        .info{
            justify-content: center;
            align-items: center;
        }
        #imageElem{
            height: auto;
            width:auto;
            align-self: center;
        }
        #image{
            height: auto;
            width: auto;
            padding: 0;
        }
        #imageElem img{
            height: 100%;
            width: 100%;
            padding: 0;
        }
        #teacherPanel{
            width: 100%;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0 3%;
        }
        #teacherPanel h2{
            font-size: 1.5vh;
        }
        #teacherBox{
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        #teacherInput{
            width: 100%;
            align-self: center;
        }
        #teacherInput form{
            width: 100%;
            align-self: center;
        }
        #teacherAdd{
            width: 100%;
            align-self: center;
        }
        #teacherAdd form{
            width: 100%;
            align-self: center;
        }
        #studentInput{
            width: 100%;
            align-self: center;
        }
        #studentInput form{
            width: 100%;
            align-self: center;
        }
        .infoElem h2{
            font-size: 0.5vh;
        }
        .infoElem h3{
            font-size: 0.5vh;
        }
        #adminPanel{
            justify-content: space-around;
            flex-direction: column;
            align-items: start;
        }
        #adminPanel h2{
            font-size: 3vh;
            line-height: 5vh;
        }
        .part form{
            width: 100%;
            align-self: center;
        }
        #teacherShow1 h1{
            font-size: 3vh;
        }
        #teacherShow1 h2{
            font-size: 2vh;
        }
        #teacherShow1 h3{
            font-size: 1.5vh;
        }
        #image{
            height: 15vh;
            width: 15vh;
            overflow: hidden;
        }
        #image img{
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        .part h2{
            font-size: small;
        }
        #leaveRequest h2{
            font-size: 1vh;
            font-weight: 400;
        }
    }

